{% extends "base.html" %}
{% block title %}Note keeper{% endblock %}

{% block content %}
<h1>Welcome to the home page</h1>
<p>
    This is a simple Note keeper webpage. You can create, read, update and delete apps.
</p>
<ul class="list-group list-group-flush" id="notes">
    {% for note in user.notes %}
    <li class="list-group-item">{{note.data}}
        <button type="button" class="close" onclick="deleteNote('{{ note.id }}')">
            <span aria-hidden="true">&times;</span>
        </button>
    </li>
    {% endfor %}
</ul>

<form method="POST">
    <textarea 
        name="note" 
        id="note"
        cols="30"
        rows="10"
        class="form-control"
        placeholder="Enter your note here"
    ></textarea>
    <br />
    <div align="center">
        <button type="submit" class="btn btn-primary">Save note</button>
    </div>
</form>
{% endblock %}
